.Pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Pokedex-winner{
    color:#2066df;
}

.Pokedex-loser{
    color:  #e53bb5;
}